.flow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.conteiner-flowlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flow-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  max-width: 500px;
  height: 250px;
  object-fit: cover;
  object-position: center;
  transition: all 0.2s;
}

.conteiner-rede {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(100% - 30px);
  max-width: 220px;
  height: auto;
  border-radius: 15px;
  margin: 0 10px 0 10px;
  transition: all 0.2s;
}

#behance {
  border: solid 1px #1C6FF9;
}

#behance:hover {
  box-shadow: 0 0 20px #1C6FF9;
}

#instagram {
  border: solid 1px #F52E58;
}

#instagram:hover {
  box-shadow: 0 0 20px #F52E58;
}

#email {
  border: solid 1px #FF1616;
}

#email:hover {
  box-shadow: 0 0 20px #FF1616;
}


.icon-rede {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 20px);
  max-width: 70px;
  border-radius: 100px;
  margin: 10px 0 10px 0;
}

.conteiner-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.conteiner-texto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.titulo {
  font-size: min(1.2em, 3.5vw);
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin: 0 10px 10px 10px;
}